<mat-toolbar color="primary">
  	<span>Organization-XIII - V. 0.1</span>

	<span class="fill-space"></span>
	<a href="https://github.com/Daedo/Organization-XIII/" mat-button>
	  	<span>
			<mat-icon svgIcon="github"></mat-icon>
			GitHub
		</span>
	</a>  
</mat-toolbar>

<nav mat-tab-nav-bar>
	<a mat-tab-link
	   *ngFor="let link of navLinks"
	   [routerLink]="link.path"
	   routerLinkActive #rla="routerLinkActive"
	   [active]="rla.isActive">
	  {{link.label}}
	</a>
</nav>

<router-outlet></router-outlet>