.settings {
	width: 85%;
	margin-left: 2em;
}

div.settings {
	margin-top: 1em;
}

mat-form-field {
	width: 50%;
	margin-right: 2em;
}

label {
	width: 25%;
	display: inline-block;
}

mat-slider {
	width: 30%;
}